<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Jaltantra home page</title>
    <link rel="shortcut icon" th:href="@{/images/iitb_logo_black_small.png}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/w2ui-1.4.2.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>



    <div style='text-align: center; line-height: 80px; height: 80px; font-size: 30px; background: beige; overflow: hidden'>
        JalTantra: System For Optimization of Piped Water Networks, IIT Bombay <img th:src="@{images/iitb_logo_black_small.png}" alt="IITB" style="vertical-align:middle;width:80px;height:80px;background: transparent;">
    </div>

    <div th:if="${username}">
       <p> Logged in as: <span th:text="${username}"></span> </p>
    </div>

    <p style="text-align: center;">Click here to <a th:href="@{/register}">Register</a></p>
    <p style="text-align: center;">Click here for <a th:href="@{/login}">Login</a></p>
    <p style="text-align: center;">Click here for <a th:href="@{/logout}">Logout</a></p>

    <div style="background-color: #eee; height: 98px; padding: 10px 15px; border-top: 1px solid silver; border-bottom: 1px solid silver">
    <a target="_blank" href="https://www.cse.iitb.ac.in/~nikhilh/jaltantra">JalTantra Usage Details</a>
    <p>Click Below for Jaltantra Versions</p>

    <ul>
        <li><a th:href="@{/loop}">Jaltantra Loop</a></li>
        <li><a th:href="@{/branch}">Jaltantra Branch</a></li>
    </ul>

    </div>



</body>
</html>